html {
    font-family: Montserrat;
}
body {
    background-image: url("fond.png")
}
header {
    padding: 10px 0px;
    background-color: black;
    color: azure;
    opacity: 0.8;
}
#bandeau{
    display: flex;
    justify-content: space-around;
}
.h2 {
    display: inline-block;
    align-items: flex-end;
    color: aqua;
}
h1#portfolio {
    color: rgb(112, 165, 42);
}
#prez {
    color: blueviolet;
    background-color: black;
    opacity: 0.8;
}
#photo {
    border-radius: 40px ;
}