html {
    font-family: Montserrat;
    background-color:linear-gradient(0deg, rgba(26, 22, 127, 0.965) 12%, rgba(125,24,75,1) 46%, rgba(0,0,0,1) 91%)
}
body {
    background: rgb(72,66,214);
    background: linear-gradient(0deg, rgba(26, 22, 127, 0.965) 12%, rgba(125,24,75,1) 46%, rgba(0,0,0,1) 91%);
}
a:link { 
 text-decoration:none; 
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
header {
    padding: 10px 0px;
    background-color: black;
    opacity: 0.8;
}
#bandeau{
    display: flex;
    justify-content: space-around;
}
.h2 {
    display: inline-block;
    align-items: flex-end;
    color: aqua;
}
.h2:hover {
    color: #fff;
    text-shadow: 0 0 5px #f403d0,
                0 0 25px #03e9f4,
                0 0 50px #f49803,
                0 0 100px #03e9f4;
}
h1:hover {
    color: #fff;
    text-shadow: 0 0 5px #000001,
                0 0 25px #f40303,
                0 0 50px #f42703,
                0 0 100px #f4b803;
  }
#portfolio {
    color: rgb(112, 165, 42);
}
#champi {
    margin-right: 8%;
}
#title {
    display: flex;
    justify-content:space-between;
    margin-top: 100px;
    margin-bottom: 40px;
}
#prez {
    opacity: 0.9;
    color: blueviolet;
    background-color: white;
    margin-left: 8%;
    margin-right: 8%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
    display: flex;
    border-radius: 10px;
}
#photo {
    border-radius: 20px ;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
}
#blabla {
    margin-left: 10%;
    margin-top: 4%;
}

#end {
    opacity: 0.9;
    border-radius: 10px;
    height: 200px;
    justify-content: center;
    display: grid;
    background-color: white;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 8%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
}
#mail {
    margin-top: 40px;
}
#happypy {
    width: 100% !important;
    height: 100% !important;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
#wrap {
    width: 820px;
    height: 1500px;
    overflow: hidden;
}
#pro {
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    justify-content: space-around;
}
#pico {
    color: #000001;
    position: relative;
    overflow: hidden;
}
#happy {
    position: relative;
    overflow: hidden;
}
#renpy {
    position: relative;
    overflow: hidden;
}
.propro {
    opacity: 0.9;
    border-radius: 0px 0px 10px 10px;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
}
.imgP {
    filter: grayscale(90%);
}
.imgP:hover{
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    -webkit-transition:1s ease-in-out;
    transition:1s ease-in-out;
    filter: grayscale(0%);
}
#paragraph {
    margin-left: 40%;
    line-height: 200%;
}
#happyblabla {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    color: antiquewhite;
}
#descri {
    width: 400px;
    line-height: 200%;
}
#descrifraise {
    color: antiquewhite;
    margin-left: 5%;
}
.barre {
    color: antiquewhite;
    font-size: 80px;

}
.barrou {
    color: antiquewhite;
}